/* app css stylesheet */
html * {
  font-family: "Titillium Web", Verdana, Arial;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.gridStyle {
  width: 100%;
  height: 700px;
}

.fs14 {
    font-size: 14px;
}

.nrb {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.w60 {
  width: 60px;
}

.pr5 {
  padding-right: 5px;
}

/*grid max page*/
.ngGridMaxPagesNumber {
  vertical-align: middle;
  position: relative;
  bottom: 5px;
}

.wp100 {
  width: 100%;
}
