<div id="employeeSearchDiv">
    <div>
        <h3>Search Criteria</h3>
        <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <!-- select division -->
                    <div class="col-xs-3">
                        <label>Division</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.d" data-placeholder="Please pick a division" class="wp100">
                                <option value="0">ALL</option>
                                <option ng-repeat="division in divisionNames" value="{{division.id}}">{{division.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- select department -->
                    <div class="col-xs-3">
                        <label>Department</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.de" data-placeholder="Please pick a department" class="wp100" ng-change="changeDepartment()">
                                <option value="0">ALL</option>
                                <option ng-repeat="department in departmentNames" value="{{department.id}}">{{department.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- select group -->
                    <div class="col-xs-3">
                        <label>Group</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.g" data-placeholder="Please pick a group" class="wp100">
                                <option value="0">ALL</option>
                                <option ng-repeat="group in groupNames" value="{{group.id}}">{{group.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- select team -->
                    <div class="col-xs-3">
                        <label>Team</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.t" data-placeholder="Please pick a team" class="wp100">
                                <option value="0">ALL</option>
                                <option ng-repeat="team in teamNames" value="{{team.id}}">{{team.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <!-- employee ID -->
                    <div class="col-xs-3">
                        <label for="employeeId">Employee ID</label>
                        <div class="mt4">
                            <input type="text" class="form-control" placeholder="Employee ID..." ng-model="searchDto.e" name="employeeId"/>
                        </div>
                    </div>
                    <!-- employee name -->
                    <div class="col-xs-3">
                        <label for="name">Name</label>
                        <div class="mt4">
                            <input type="text" class="form-control" placeholder="Name..." ng-model="searchDto.n" name="name"/>
                        </div>
                    </div>
                    <!-- title class -->
                    <div class="col-xs-3">
                        <label>Title Class</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.tc" data-placeholder="Please pick a title class" class="wp100">
                                <option value="0">ALL</option>
                                <option ng-repeat="tc in titleClassNames" value="{{tc.id}}">{{tc.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- title rank -->
                    <div class="col-xs-3">
                        <label>Title Rank</label>
                        <div class="mt4">
                            <select ui-select2 ng-model="searchDto.tr" data-placeholder="Please pick a title rank" class="wp100">
                                <option value="0">ALL</option>
                                <option ng-repeat="tr in titleRankNames" value="{{tr.id}}">{{tr.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="btn btn-md btn-primary" ng-click="searchEmployees(searchDto)">
                <span class="glyphicon glyphicon-search pr5"></span>
                Search
            </button>
            <button class="btn btn-md btn-default" ng-click="clearCriteria()">
                <span class="glyphicon glyphicon-remove pr5"></span>
                Clear
            </button>
        </div>
    </div>
</div>

<div id="employeeGridOptions">
    <button class="btn btn-md btn-primary" ng-click="clickGridOptions()">
        Grid Options
    </button>
</div>

<gridify ng-model="gridOptions" ng-class="gridStyle"></gridify>
